/* App.css */
.body-container {
  background-image: url('./public/images/hidden-leaf-village.jpg');
  background-size: cover; /* S'assurer que l'image couvre tout l'écran */
  background-position: center; /* Centrer l'image */
  height: 100vh; /* Prendre toute la hauteur de l'écran */
  width: 100vw; /* Prendre toute la largeur de l'écran */
}

.App-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 30%;
  height: auto;
}